{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;User=root;Password=pass@123;Database=fuel_management;Pooling=true;"
  },
  "Jwt": {
    "SecretKey": "ThisIsAVeryLongSecretKeyForJWTTokenGenerationAndValidation_12345",
    "Issuer": "FuelManagementAPI",
    "Audience": "FuelManagementClients"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
